@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../01-helpers/index";

@import "../02-basic/index";
@import "../03-layout/index";
/* call module that you want to import */
@import "../04-modules/hero";
@import "../04-modules/_person_card";
@import "../04-modules/social_links";
@import "../04-modules/_service_card";
@import "../04-modules/_about";
@import "../04-modules/_portfolio";
@import "../04-modules/_experience";
@import "../04-modules/_testimonial";
@import "../04-modules/_blog";
@import "../04-modules/_cta";
@import "../04-modules/_projects";
@import "../04-modules/_contact";
