@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../01-helpers/index";

@import "../02-basic/index";
@import "../03-layout/index";
/* call module that you want to import */
@import "../04-modules/hero";
@import "../04-modules/banner";
@import "../04-modules/awards";
@import "../04-modules/person_card";
@import "../04-modules/social_links";
@import "../04-modules/service_card";
@import "../04-modules/about";
@import "../04-modules/accordion";
@import "../04-modules/portfolio";
@import "../04-modules/experience";
@import "../04-modules/testimonial";
@import "../04-modules/blog";
@import "../04-modules/cta";
@import "../04-modules/projects";
@import "../04-modules/contact";