.header {
    top: 20px;
    left: 0;
    right: 0;
    padding: 0 30px;



    @media #{$sm-device} {
        padding: 0 30px;

    }

    @media #{$tablet-device} {
        padding: 0 30px;

    }

    @media #{$small-mobile} {
        padding: 0 15px;

    }

    @media #{$big-device} {
        padding: 0 70px;

    }

}

.brand-logo {
    img {
        max-width: 141px;
    }
}

.main-nav {
    @media #{$extraBig-device} {
        margin-right: 90px;
    }

    background-color: #1B1B1B;
    border: 1px solid rgba($color: $white, $alpha: 10%);
    padding: 16px 35px;
    border-radius: 10px;
}

.main-menu {
    gap: 21px;
}

.main-menu-link {
    color: $white;
    padding: 6px 14px;
    font-weight: 600;
    font-size: 17px;
    line-height: 1;
    border-radius: 5px;

    &.main-menu-active-link,
    &:hover {
        color: $dark;
        background: $primary;
    }
}

.contact-btn-wrap {
    gap: 10px;
}

.contact-btn.btn {
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 14px;
}

.menu-toggle-btn {
    width: 40px;
    height: 40px;
    background-color: $white;
    padding: 12px 10px;
    border-radius: 10px;
    line-height: 1;

    &:hover {
        color: $white;
        background-color: $primary;
    }
}

.contact-btn-icon {
    display: inline-block;
    margin-left: 7px;
    // transform: rotate(10deg);
}


@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(5px) translateY(-5px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-5px) translateY(5px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) scale(1);
    }
}

// offcanvas

.offcanvas-social-and-navmenu-wrap {
    max-height: 800px;
    overflow-y: auto;
}

.offcanvas {
    padding-left: 2rem;
    width: 350px !important;

    @media #{$tablet-device,$laptop-device,$big-device} {
        width: 460px !important;

    }

}

.offcanvas-header {
    border-bottom: 1px solid rgba($color: $dark, $alpha: 10%);
    margin-bottom: 80px;
    padding: 0 !important;

    @media #{$large-mobile} {
        margin-bottom: 55px;
    }
}

.offcanvas-close {
    padding: 20px;
}

.offcanvas-nav {
    margin-right: 40px;
}

.offcanvas-menu-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($color: $dark, $alpha: 10%);

    @media #{$large-mobile} {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &:hover {
        a {
            color: $primary !important;
        }

        .animate-arrow-up {
            animation: moveUp 0.8s linear;
        }
    }
}

.offcanvas-menu-link {
    transition-duration: 300ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;


}




.contact-btn {
    &:hover {
        .contact-btn-icon {
            animation: moveUp 0.8s linear;
        }
    }

}