.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba($color: $white, $alpha: 10%);

    @media #{$large-mobile} {
        padding-top: 80px;
        padding-bottom: 80px;

    }
}

.footer-widget {

    @media #{$laptop-device} {
        padding-left: 30px;

    }

    @media #{$big-device} {
        padding-left: 30px;
        padding-right: 30px;

    }
}

.footer-widget.px-0 {

    @media #{$big-device} {
        position: relative;
        right: -15px;

    }
}

.footer-widget-list-item {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
        font-weight: 600;
        color: #A3A3A3;
    }

}

.footer-widget-link {
    display: block;
    line-height: 1.5;
    font-weight: normal;
    font-size: 22px;
}

.footer-title {
    color: $white;
    line-height: 1.5;
    font-weight: 400;
    font-size: 22px;
}

.form-email-icon {
    color: $secondary;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.news-letter {
    .form-control {
        margin-bottom: 10px;
        max-width: 300px;
        font-size: 14px;
        color: $secondary;
        padding: 10px 20px 10px 45px;
        height: 50px;
        border: 1px solid rgba($color: $dark, $alpha: 10%);
        border-radius: 10px;

        &::placeholder {
            color: $secondary;
            opacity: 1;
        }
    }
}

.coppyright {
    padding-top: 35px;
    padding-bottom: 35px;

    p {
        font-size: 16px;
        color: #A3A3A3;
    }
}

.footer-links {
    gap: 30px;

    @media #{$extra-small-mobile,$tablet-device} {
        gap: 15px;

    }
}

.footer-link {
    color: #A3A3A3;
    font-size: 16px;

    &:hover {
        color: $white;
        text-decoration: underline;
    }
}


a#scrollUp {
    position: fixed;
    left: 50%;
    bottom: -60px;
    z-index: 11;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;
    border: 1px solid rgba($color: $white, $alpha: 10%);
}