.accordion-item {
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid rgba($color: $dark, $alpha: 10%) !important;
    border-radius: 7px !important;

    &:last-child {
        margin-bottom: 0;
    }
}


.accordion-button {
    position: relative;
    color: $dark;
    font-size: 18px;
    padding: 22px !important;

    @media #{$large-mobile} {
        padding: 20px 50px 20px 20px !important;

    }

    font-weight: 500;

    &:focus {
        box-shadow: none;
    }
}

.accordion-button:not(.collapsed) {
    color: $dark;
    background-color: $white !important;
    box-shadow: none !important;
}

.accordion-button::after {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    content: "+";
    background-image: none;
    color: $dark;
    border: 1px solid rgba($color: $dark, $alpha: 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 45px;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: rotate(0deg);
    content: "-";
    border: 1px solid rgba($color: $dark, $alpha: 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 45px;
}

.accordion-body {
    padding: 0px 22px 22px 22px !important;
    color: $secondary;
}


.accordion-style-two {

    .accordion-item,
    .accordion-button {
        background-color: $light !important;

    }
}