.person-image-card {
    max-width: 480px;

    @media #{$large-mobile} {
        max-width: 380px;

    }

    @media #{$extra-small-mobile} {
        max-width: 280px;

    }

    margin: 0 auto;


    @media #{$desktop-device} {
        max-width: 350px;

    }

    @media #{$big-device,$laptop-device} {
        max-width: 500px;

    }

    position: relative;
    z-index: 1;
    border-radius: 20px;


    &::before,
    &::after {
        width: 100%;
        height: 700px;
        transition: all 0.5s;

        @media #{$large-mobile} {

            height: 550px;
        }

        @media #{$extra-small-mobile} {
            height: 400px;

        }

        @media #{$desktop-device} {
            height: 510px;

        }

        @media #{$big-device,$laptop-device} {
            height: 700px;

        }

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        content: '';
        border-radius: 20px;
        border: 1px solid transparent;

    }

    &::before {
        transform: rotate(7deg);
    }

    &:hover {

        &::before {
            transform: rotate(0deg);
        }

        &::after {
            transform: rotate(7deg);
        }
    }
}

.primary-card {
    &::before {
        background-color: $primary2;
    }

    &::after {
        background-color: $primary;
    }
}

.secondary-card {
    &::before {
        background-color: $dark;
    }

    &::after {
        background-color: $light;
        border-color: $dark;
    }
}

.primary-white-card {
    &::before {
        background-color: $primary;
    }

    &::after {
        background-color: $white;
        border-color: transparent;
    }
}